Q-15. Write an SQL query to fetch intersecting records of two tables.
Ans:
SELECT  ID, NAME, Amount, Date
     FROM Customers
INTERSECT
     SELECT  ID, NAME, Amount, Date
     FROM Customers;

Q-16. Write an SQL query to show records from one table that another table does not
have.
Ans:
SELECT emp_id,emp_name  
FROM employee_details
WHERE NOT EXISTS
(SELECT *  
   FROM  employee_resigned
   WHERE employee_details.emp_id = employee_resigned.emp_id);